body{
    background-color:#4bb1d3;
    color: #4bb1d3;
}

.keyboard{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1200px;
    height: auto;
    background-color: #262a2d;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12,1fr);
    padding: 40px;
    border-radius: 20px;
}
.key{
    height: 7vh;
    background-color: #2e3538;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: large;
    font-weight: 500;
}
.key:hover{
    background-color: rgb(75, 75, 75);
    color: #81dbf9;
    
}
#keyID55{
    order: -1;
}
#keyID34{
    grid-area: 3/11/4/13;
}
#keyID45{
    grid-area: 4/11/5/13;
}
#keyID50{
    grid-area: 5/5/6/9;
}